<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G84</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tvs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleTypeName</key>
			<string>TeamViewer Session</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tvdownload</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tvdownload</string>
			<key>CFBundleTypeName</key>
			<string>TeamViewer download</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tvc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleTypeName</key>
			<string>TeamViewer ControlFile</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>TeamViewer</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.teamviewer.TeamViewer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TeamViewer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>14.6.2452</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.remotecontrol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teamviewer8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.meeting</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tvjoinv8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.instantsupport</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teamviewer8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.teamviewer10</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teamviewer10</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.tvchat1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tvchat1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.tvcontrol1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tvcontrol1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.tvfiletransfer1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tvfiletransfer1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.tvpresent1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tvpresent1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.tvsendfile1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tvsendfile1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.tvvideocall1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tvvideocall1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.tvvpn1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tvvpn1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.teamviewer.teamviewerapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teamviewerapi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10G8</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18G74</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1030</string>
	<key>DTXcodeBuild</key>
	<string>10G8</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.6</string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 TeamViewer GmbH. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Send files with TeamViewer</string>
			</dict>
			<key>NSMessage</key>
			<string>sendFilesToBuddy</string>
			<key>NSPortName</key>
			<string>SendFile</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.teamviewer.Helper</key>
		<string>(identifier "com.teamviewer.Helper" or identifier "com.teamviewer.ScriptExecutionHelper") and anchor apple generic and (certificate leaf[field.1.2.840.113635.100.6.1.9] or certificate 1[field.1.2.840.113635.100.6.2.6] and certificate leaf[field.1.2.840.113635.100.6.1.13] and certificate leaf[subject.OU] = H7UGFBUGV6)</string>
		<key>com.teamviewer.ScriptExecutionHelper</key>
		<string>(identifier "com.teamviewer.Helper" or identifier "com.teamviewer.ScriptExecutionHelper") and anchor apple generic and (certificate leaf[field.1.2.840.113635.100.6.1.9] or certificate 1[field.1.2.840.113635.100.6.2.6] and certificate leaf[field.1.2.840.113635.100.6.1.13] and certificate leaf[subject.OU] = H7UGFBUGV6)</string>
	</dict>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
